.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

#card1, #card2, #card3, #card4, #card5 {
    background-color: lightblue;
    margin: 10px;
    border-radius: 1em;
}

#footer {
    margin-right: 15px;
}

#searchWin {
    border-right: 1px solid black;
}

#forecastWin {
    border-top: 1px solid black;
}